{% extends "base.html" %} {% block title %} Sign Up {% endblock %} {% block
content %}
<div
  style="
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: -20;
  "
>
  <form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
      <label for="email"> Email Address</label>
      <input
        type="text"
        id="email"
        name="email"
        class="form-control"
        placeholder="Enter Email"
        required="true"
      />
      <label for="firstName"> First Name</label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        class="form-control"
        placeholder="First Name"
        required="true"
      />
      <label for="lastName"> Last Name</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        class="form-control"
        placeholder="Last Name"
        required="true"
      />
      <label for="password1"> Password</label>
      <input
        type="password"
        id="password1"
        name="password1"
        class="form-control"
        placeholder="Enter Password"
        required="true"
      />
      <label for="password2"> Enter Password Again</label>
      <input
        type="password"
        id="password2"
        name="password2"
        class="form-control"
        placeholder="Enter Password"
        required="true"
      />
      <br />
      <div align="center">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckChecked"
          required="true"
        />
        <label class="form-check-label" for="flexCheckChecked">
          I agree to the
          <a href="#" data-bs-toggle="modal" data-bs-target="#rulesModal"
            >Terms and Condtitions</a
          > </label
        ><br /><br />
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </div>
  </form>
</div>
<div
  class="modal fade"
  id="rulesModal"
  tabindex="-1"
  aria-labelledby="rulesModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Terms and Condtions</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        This is an example terms and conditions document. This will be a
        placeholder for the next terms and conditions upon implementing the full
        release of the app. Please do not take the information on this document
        as fact and we shall be updating this as soon as possible all with the
        next revision.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
